body{
    background-color:#ffa733
}

.header{
    text-align: center;
    font-size: 75px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 2px black;
    margin-bottom: 0px;
}

.parrafo1{
    font-size: 25px; 
    text-decoration: underline;
    text-align: center;
    
}